.indexStyle {
	width: 100%;
	font-family: Verdana;
	text-align: center;
}

.greenBlock {
	width: 100%;
	background: #CAFF70;
	padding: 8px;
	padding-right: 20px;
	font-family: Verdana;
	text-align: center;
}

.yellowBlock {
	width: 100%;
	background: #FFFF00;
	padding: 8px;
	padding-right: 20px;
	font-family: Verdana;
	text-align: center;
}

.tableStyle {
	width: 50%; 
	border: 1px solid black; 
	background: #fdfefc; 
	color: #400040;
	text-align: center;
	padding: 3px; 
	margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    
}

.tr1 {
	border-bottom: 1px solid black;
}

